@model IEnumerable<iTrainee.Models.UserMessages>

@{
    ViewData["Title"] = "ManageTraineeMessages";
}

<style>
    .delete-icon {
        color: red;
        font-size: x-large;
    }

    .message-read {
        font-weight: 700;
    }

    .message-unread {
        font-weight: lighter;
    }

    .edit-icon {
        color: #00239B;
        font-size: x-large;
    }

    .view-icon {
        font-size: x-large;
    }

    .actions-column {
        width: 100px;
    }

    .alertModalBodyDiv {
        min-height: 480px;
        height: 480px;
        overflow-y: scroll;
    }
</style>

<div class="d-flex justify-content-between mt-4">
    <h3>Messages</h3>
</div>

<table class="table table-hover table-bordered">
    <thead>
        <tr class="text-center">
            <th>
                Sender
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                Reply
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td class="@("message-" + (!item.IsRead ? "read" : "unread"))">
                    @Html.DisplayFor(modelItem => item.Sender)
                </td>
                <td class="@("message-" + (!item.IsRead ? "read" : "unread"))">
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td class="text-center actions-column">
                    <a href="#" onclick="ViewAlertDetails(@item.MessageId)"><i class="fa fa-reply edit-icon"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="alertModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Alert Response</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>                
            </div>
            <div class="modal-body alertModalBodyDiv" id="alertModalBodyDiv">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function ViewAlertDetails(id) {
        var url = "/Shared/Messages/AddEditMessagesResponse?Id=" + id;
        $("#alertModalBodyDiv").load(url, function () {
            $("#alertModal").modal("show");
        });
    };

</script>
