@model iTrainee.Models.UserAudit;
@{
    ViewData["Title"] = "Trainee";
}

<head>
    <style>
        .calendar {
            position: relative;
            width: 160px;
        }

            .calendar .calendar-body {
                display: flex;
                margin-top: 3px;
                align-items: center;
                flex-direction: column;
                width: 60%;
                border-bottom: 6px solid #0366d6;
                border-right: 3px solid #0366d6;
                border-left: 3px solid #0366d6;
                border-radius: 8px;
                background: #fff;
            }

            .calendar .calendar-body {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 40%;
                border-bottom: 2px solid #0366d6;
                border-right: 2px solid #0366d6;
                border-left: 2px solid #0366d6;
                border-radius: 8px;
                background: #fff;
                margin-left: 5em;
            }

                .calendar .calendar-body .month-name {
                    color: #fff;
                    background: #0366d6;
                    width: 100%;
                    font-size: 1.0em;
                    text-align: center;
                    font-weight: 400;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                }

                .calendar .calendar-body .month-name {
                    color: #fff;
                    background: #0366d6;
                    width: 100%;
                    font-size: 0.8em;
                    text-align: center;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                }

                .calendar .calendar-body .day-name {
                    color: #051320;
                    font-size: 0.9em;
                    font-weight: 400;
                    margin-top: 5px;
                }

                .calendar .calendar-body .day-name {
                    color: #051320;
                    font-size: 0.7em;
                    margin-top: 3px;
                }

                .calendar .calendar-body .date-number {
                    color: #051320;
                    font-size: 1.3em;
                    font-weight: 600;
                    line-height: 1.0em;
                }

                .calendar .calendar-body .year {
                    color: #051320;
                    font-size: 0.9em;
                    font-weight: 400;
                    margin-bottom: 2px;
                }

                .calendar .calendar-body .year {
                    color: #051320;
                    font-size: 0.7em;
                    margin-bottom: 2px;
                }

        .time {
            font-size: 1.1em;
            border-bottom: 6px solid #0366d6;
            border-top: 6px solid #0366d6;
            border-right: 3px solid #0366d6;
            border-left: 3px solid #0366d6;
            border-radius: 8px;
            margin-top: 8px;
            padding: 5px;
            font-size: 0.9em;
            border-bottom: 3px solid #0366d6;
            border-top: 3px solid #0366d6;
            border-right: 1px solid #0366d6;
            border-left: 1px solid #0366d6;
            border-radius: 5px;
            padding: 3px;
            margin-left: 50em;
        }

        .time1 {
            font-size: 0.9em;
            border-bottom: 3px solid #0366d6;
            border-top: 3px solid #0366d6;
            border-right: 1px solid #0366d6;
            border-left: 1px solid #0366d6;
            border-radius: 5px;
            padding: 3px;
            margin-left: 2em;
        }

        .dates {
            font-size: 0.9em;
            border-bottom: 3px solid #0366d6;
            border-top: 3px solid #0366d6;
            border-right: 1px solid #0366d6;
            border-left: 1px solid #0366d6;
            border-radius: 5px;
            padding: 3px;
        }

        .date {
            font-size: 1.1em;
            border-bottom: 6px solid #0366d6;
            border-top: 6px solid #0366d6;
            border-right: 3px solid #0366d6;
            border-left: 3px solid #0366d6;
            border-radius: 8px;
            padding: 5px;
            margin-top: 20px;
            margin-right: 44em;
            font-size: 0.9em;
            border-bottom: 6px solid #0366d6;
            border-top: 6px solid #0366d6;
            border-right: 3px solid #0366d6;
            border-left: 3px solid #0366d6;
            border-radius: 8px;
            padding: 5px;
            margin-right: 44em;
        }

        .range-width {
            width: 460px;
        }

        #slider-cntnr {
            position: relative;
        }

        #frame-slider {
            width: 100%;
            margin: 0;
        }

        #slider-follow {
            margin-left: -14px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
        }

        #slider-val-cntnr {
            background-color: white;
            width: 25px;
            height: 20px;
        }

        .topic-name:hover {
            font-size: 1.1rem;
            transition: transform .2s;
            cursor: pointer;
            padding: 15px 5px;
            background-color: #F1F3F4;
            border-radius: 5px;
        }

        .topic-name {
            padding: 15px 5px;
        }

        .topic-subtopic {
            display: flex;
        }

        .topic-list {
            flex: 2;
        }

        .subtopic-list {
            flex: 4;
        }
        .btn-status, .btn-status:hover {
            background: linear-gradient(144deg,#009ffd, rgb(0,35,155) 50%);
            color: white;
        }
    </style>
</head>

<div class="row"  onload="GetSubTopicList(@Model.UserId, @Model.AssignedTopicsList.First().Id)">
    @if (Convert.ToString(TempData["FirstName"]) == "TraineeName")
    {
        <h2 class="font-weight-bold mt-4 mb-5">Hello @TempData["UserFirstName"],</h2>
    }

    @if (Convert.ToString(TempData["FirstName"]) == "MentorName")
    {
        <div class="">
            <p class="dates">Date : @Model.Date.ToShortDateString()</p>
        </div>
        <div class="">
            <p class="time">Sign-In : @Model.SignIn.ToShortTimeString()</p>
        </div>
        <div class="">
            <p class="time1">Sign-Out : @Model.SignOut.ToShortTimeString()</p>
        </div>
    }
    else
    {
    }
</div>

<div class="topic-subtopic">
    <div class="topic-list nav flex-column" id="Topic">
        @foreach (var topic in Model.AssignedTopicsList)
        {
            <div class="topic-name nav-item" onclick="GetSubTopicList(@Model.UserId, @topic.Id)">@topic.Name</div>
        }
    </div>


    <div class="subtopic-list" id="SubTopic">
    </div>
</div>

<div class="modal" fade" id="myModal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Status</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv1">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var GetDailyProgress = function (SubTopicId, UserId) {
        var UserPath = "/Trainee/Home/UpdateDailyProgress?userId=" + UserId + "&subTopicId=" + SubTopicId;
        $("#myModalBodyDiv1").load(UserPath, function () {
            $("#myModal2").modal("show");
        });
    };


        var GetSubTopicList = function (UserId, TopicId) {
            debugger;
        var UserPath = "/Trainee/Home/SubTopicList?topicId=" + TopicId + "&userId=" + UserId;
                $("#SubTopic").load(UserPath, function () {
                });

    };

</script>


