@model iTrainee.Models.UserAudit;
@{
    ViewData["Title"] = "Trainee";
}

<head>
    <link rel="stylesheet" href="/css/trainee.css">
</head>
@if (Model.AssignedTopicsList.Count() != 0)
{
    <div class="row" onload="GetSubTopicList(@Model.UserId, @Model.AssignedTopicsList.First().Id)">
        @if (Convert.ToString(TempData["FirstName"]) == "TraineeName")
        {
            <h5 class="font-weight-bold mb-3 hello-name">Hello @TempData["UserFirstName"],</h5>
        }

        @if (Convert.ToString(TempData["FirstName"]) == "MentorName")
        {
            <div class="trainee-heading mt-4 mb-3">
                <div class="font-weight-bold trainee-name">
                    Trainee Name : @Convert.ToString(TempData["TraineeName"])
                </div>
                <div class="date">Date : @Model.Date.ToShortDateString()</div>
                <div class="time">Sign-In : @Model.SignIn.ToShortTimeString()</div>
                <div class="time">Sign-Out : @Model.SignOut.ToShortTimeString()</div>
            </div>
        }
    </div>
}


<div class="topic-subtopic">
    <div class="topic-list nav flex-column" id="Topic">
        @{
            int Count = 1;
        }
        @if (Model.AssignedTopicsList.Count() != 0)
        {
            @foreach (var topic in Model.AssignedTopicsList)
            {
                <div class="topic-name nav-item" onclick="GetSubTopicList(@Model.UserId, @topic.Id, this.id)" id=@Count>@topic.Name</div>
                Count += 1;
            }
        }
        else
        {    
            <h4 class="mt-lg-5">No topics were assigned</h4>
        }

    </div>


    <div class="subtopic-list px-4" id="SubTopic">
        @await Html.PartialAsync("SubTopicList", @Model.AssignedSubTopicsList)
    </div>
</div>

<div class="modal" fade" id="myModal2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Status</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv1">
            </div>
        </div>
    </div>
</div>

<script src="/js/trainee.js"></script>