@model iTrainee.Models.DailyProgress

			<form id="ProgressForm" method="post">
                    
                    <div class="row">
                        <div class="col-lg-12">
			<div class="form-group">
                <input type="hidden" class="form-control" name="UserId" value="@Model.UserId"  />
                <input type="hidden" class="form-control" name="SubTopicId" value="@Model.SubTopicId"  />
				<input type="hidden" class="form-control" name="UserAuditId" value="@Model.UserAuditId"  />
            </div>
			<div class="form-group">
				<label asp-for="StartDate" class="control-label">Start Date</label>
				<input type="text" class="form-control" name="StartDate" value=@Model.StartDate disabled/>
			</div>
			<div class="form-group">
				<label asp-for="EndDate" class="control-label">End Date</label>
				<input type="text" class="form-control" name="EndDate" value=@Model.EndDate disabled/>
			</div>
			<div class="form-group">
				<label asp-for="Status" class="control-label">Status</label>
				<input type="text" name="Status" class="form-control" />
			</div>
			<div id="slider-cntnr">
				<label for="customRange1" class="form-label">Percentage</label>
				<input type="range" id="frame-slider" class="range-width" name="Percentage" oninput="updateFollowerValue(this.value)" value=@Model.Percentage />
				<div id="slider-follow">
					<div id="slider-val-cntnr">
						<span id="slider-val"></span>
					</div>
				</div>
			</div>
			<div class="form-group mt-5">
				<label asp-for="TraineeComments" class="control-label">Trainee Comments</label>
				<input type="text" name="TraineeComments" value="@Model.TraineeComments" class="form-control"  />
			</div>
			<div class="form-group">
				<label asp-for="MentorComments" class="control-label">Mentor Comments</label>
				<input name="MentorComments" type="text" value="@Model.MentorComments" class="form-control" disabled />
			</div>


			<div class="form-group">
				<input type="submit" id="SaveProgress" value="Save" class="btn btn-primary" />
			</div>
			</div>
			</div>
		</form>



<script type="text/javascript">
	var follower = document.getElementById('slider-follow');
    var follower_val = document.getElementById('slider-val');
    var slider = document.getElementById('frame-slider');

    var updateFollowerValue = function(val) {
      follower_val.innerHTML = val;
      follower.style.left = val + '%';
    };

    updateFollowerValue(slider.value);

	$("#SaveProgress").click(function () {
      var a = $("#ProgressForm").serialize();
      debugger;

      $.ajax({
         type: "POST",
            url: "/Trainee/Home/UpdateDailyprogress",
            data: a,
            success: function () {
                $("#myModal1").modal("hide");
            },
            error: function () {
                alert("Unable to save/update data");
            },
        });
    });
</script>
