@model iTrainee.Models.DailyProgress
@{
    TempData.Keep("HeaderRole");
}
<form id="ProgressForm" method="post">
    @Html.AntiForgeryToken()
    <div class="col-lg-12">
        <div class="form-group">
            <input type="hidden" class="form-control" name="UserId" value="@Model.UserId" />
            <input type="hidden" class="form-control" name="SubTopicId" value="@Model.SubTopicId" />
            <input type="hidden" class="form-control" name="UserAuditId" value="@Model.UserAuditId" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label">Start Date</label>
                    <input type="text" class="form-control" name="StartDate" value=@Model.StartDate disabled="disabled" />
                </div>

                <div class="form-group">
                    <label asp-for="Status" class="control-label">Status</label>
                    <select name="Status" class="form-control" id="Status">
                        <option></option>
                        <option value="In Progress">In Progress</option>
                        <option value="Completed">Completed</option>
                        @if (Convert.ToString(TempData["HeaderRole"]).Equals("Mentor"))
                        {
                            <option selected>@Model.Status</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="TraineeComments" class="control-label">Trainee Comments</label>
                    <textarea name="TraineeComments" value="@Model.TraineeComments" id="TraineeComments" class="form-control">@Model.TraineeComments</textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label">End Date</label>
                    <input type="text" class="form-control" id="EndDate" name="EndDate" value=@Model.EndDate disabled="disabled" />
                </div>
                <div id="slider-cntnr">
                    <label for="customRange1" class="form-label">Percentage</label>
                    <input type="range" id="frame-slider" class="range-width Percentage" name="Percentage" oninput="updateFollowerValue(this.value)" value=@Model.Percentage />
                    <div id="slider-follow">
                        <div id="slider-val-cntnr">
                            <span id="slider-val"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group" style="margin-top:30px;">
                    <label asp-for="MentorComments" class="control-label">Mentor Comments</label>
                    <textarea name="MentorComments" type="text" value="@Model.MentorComments" id="MentorComments" class="form-control" disabled="disabled">@Model.MentorComments</textarea>
                </div>
            </div>
        </div>
        <div class="form-group mt-4 float-right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" id="SaveProgress" value="Save" class="btn btn-primary" />
        </div>

    </div>
</form>
<script src="/js/trainee.js"></script>