@model iTrainee.Models.User
<form id="myForm" method="Post">
    <div class="form-group">
        <label class="col-form-label">First Name</label>
        <input type="text" class="form-control" name="FirstName" value="@Model.FirstName" required />
    </div>
    <div class="form-group">
        <label class="col-form-label">Last Name</label>
        <input type="text" class="form-control" name="LastName" value="@Model.LastName" required />
    </div>
    <div class="form-group">
        <label class="col-form-lab el">Date Of Birth</label>
        @if (0 == @Model.Id)
        {
            <input type="date" class="form-control" name="DOB" required />
        }
        else
        {
            <input type="date" class="form-control" name="DOB" value="@Model.DOB.ToString("yyyy-MM-dd")" required />
        }
    </div>
    <div class="form-group">
        <label class="col-form-label">Qualification</label>
        <input type="text" class="form-control" name="Qualification" value="@Model.Qualification" required />
    </div>

    @if (0 == @Model.Id)
    {
        <label class="col-form-lab el d-block form-group">Choose Role</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label" for="inlineCheckbox1">Admin</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label" for="inlineCheckbox1">Mentor</label>
        </div>
        <div class="form-check form-check-inline form-group">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label" for="inlineCheckbox2">Trainee</label>
        </div>
        <div class="form-group">
            <label class="col-form-label">User Name</label>
            <input type="email" class="form-control" name="UserName" required />
        </div>
        <div class="form-group">
            <label class="col-form-label">Password</label>
            <input type="password" class="form-control" name="Password" placeholder="example@org.com" required />
        </div>
        <div class="form-group">
            <label class="col-form-label">Confirm Password</label>
            <input type="password" class="form-control" name="Confirm Password" required />
        </div>
    }
    <div class="form-group mt-4 float-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" value="Save" name="submit" id="btnSubmit" class="btn btn-primary mr-3" />
    </div>
</form>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

<script>
        $(document).ready(function () {

        $("#btnSubmit").click(function () {
            var a = $("#myForm").serialize();
            $.ajax({
                type: "POST",
                url: "/Admin/Home/SaveUser",
                data: a,
                success: function () {
                    $("#myModal1").modal("hide");
                },
                error: function () {
                    alert("Unable to save/update data");
                },
            });
        });
    });
</script>
