<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#save">Add New Trainee</button>


<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Trainee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-form">
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="Id" id="id">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">First Name</label>
                        <input type="text" class="form-control" name="FirstName" id="first-name" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Last Name</label>
                        <input type="text" class="form-control" name="LastName" id="last-name" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Date Of Birth</label>
                        <input type="date" class="form-control" name="DOB" id="date-of-birth" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Role</label>
                        <input type="text" class="form-control" name="RoleId" id="role" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Qualification</label>
                        <input type="text" class="form-control" name="Qualification" id="qualification" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">User Name</label>
                        <input type="text" class="form-control" name="UserName" id="user-name" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Password</label>
                        <input type="text" class="form-control" name="Password" id="Password" />
                    </div>
                    @Html.AntiForgeryToken()
                    <input type="submit" id="save-edit-button" class="btn btn-success" value="Save" name="submit" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
@*@model IEnumerable<iTrainee.Models.User>

@{
    ViewData["Title"] = "ShowTrainee";
}

<h1>ShowTrainee</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@