@model IEnumerable<iTrainee.Models.SubTopics>

@{
    ViewData["Title"] = "Sub Topics";
}
<style>
	.btn-add-gradient {
    background-image: linear-gradient(144deg,#009ffd, rgb(0,35,155) 50%);
    border-radius: 4px;
    box-shadow: rgba(0, 79, 255, 0.3) 0 15px 30px -5px;
    color: #FFFFFF;
    cursor: pointer;
    transform: translateY(-6px);
    transition: transform 700ms cubic-bezier(.3, .7, .4, 1.5);
}
</style>

<h1>Sub Topics</h1>

<p>
  <a href="#" class="btn btn-primary btn-add-gradient float-right mb-3" onclick="AddEditSubTopic(0)"> Add New Sub Topic</a>
</p>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopicId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceURL)
            </th>
            <th  colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceURL)
            </td>
            <td class="text-center">
					<a href="#" class="btn btn-primary" onclick="AddEditSubTopic(@item.Id)"><i class="fa fa-pencil"></i></a>
					</td>
					<td class="text-center">
					<a class="btn btn-danger btn-xs delete-button" href="/Shared/SubTopics/DeleteSubTopics/@item.Id"><i class="fa fa-trash"></i></a>
					@*  @using (Html.BeginForm("DeleteStream", "Stream", new { id = item.Id, Area="Shared" }))
						{
						<button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete record with ID = @item.Id');"><i class="fa fa-trash"></i> Delete</button>
						}*@
				</td>
        </tr>
}
    </tbody>
</table>

<div class="modal fade" id="subTopicModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Save Sub Topic</h3>
			</div>
			<div class="modal-body" id="subTopicAddEditBody">
			</div>
		</div>
	</div>
</div>



<script type="text/javascript">

	var AddEditSubTopic = function (id) {
		var editTopicData = "/Shared/SubTopics/AddEditSubTopic?Id=" + id;
		$("#subTopicAddEditBody").load(editTopicData, function () {
			$("#subTopicModal").modal("show");
		});
	};


</script>