@model IEnumerable<iTrainee.Models.SubTopics>

@{
    ViewData["Title"] = "Sub Topics";
}
<style>
    .delete-icon {
        color: red;
        font-size: x-large;
    }

    .edit-icon {
        color: #00239B;
        font-size: x-large;
    }
	.btn-add-gradient {
    background-image: linear-gradient(144deg,#009ffd, rgb(0,35,155) 50%);
    border-radius: 4px;
    box-shadow: rgba(0, 79, 255, 0.3) 0 15px 30px -5px;
    color: #FFFFFF;
    cursor: pointer;
    transform: translateY(-6px);
    transition: transform 700ms cubic-bezier(.3, .7, .4, 1.5);
}
</style>

<div class="d-flex justify-content-between mt-4">
<h3>Manage SubTopics</h3>
<a href="#" class="btn btn-primary btn-add-gradient float-right mb-3" onclick="AddEditSubTopic(0)"> Add New Sub Topic</a>
</div>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Stream</th>
            <th>Topic</th>
            <th>Sub Topic</th>
            <th>Reference URL</th>
            <th class="text-center" colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int Count = 1;
        }
@foreach (var item in Model) {
        <tr>
            <td>
                @Count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceURL)
            </td>

                <td class="text-center">
					<a href="#" onclick="AddEditSubTopic(@item.Id)" ><i class="fa fa-pencil edit-icon"></i></a> 
					</td>
					<td class="text-center">
					<a data-id-to-delete="@item.Id" data-toggle="modal" data-target="#delete"><i class="fa fa-trash delete-icon"></i></a>
				</td>
            </tr>
            Count += 1;
        }
    </tbody>
</table>

<div class="modal fade" id="subTopicModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Save Sub Topic</h3>
			</div>
			<div class="modal-body" id="subTopicAddEditBody">
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete <span id="name-to-delete"></span>???</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="delete-yes-button" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript">

	var AddEditSubTopic = function (id) {
		var editSubTopicData = "/Shared/SubTopics/AddEditSubTopic?Id=" + id;
		$("#subTopicAddEditBody").load(editSubTopicData, function () {
			$("#subTopicModal").modal("show");
		});
	};
    $('#delete').on('show.bs.modal', function (event) {
         debugger
            var button = $(event.relatedTarget)
            var id = button.data('id-to-delete')
            debugger
                    $('#delete-yes-button').on('click', function () {
                        $.ajax({
                            url: "/Shared/SubTopics/DeleteSubTopic?Id=" + id,
                            type: "POST",
                            contentType: "application/json;charset=UTF-8",
                            dataType: "json",
                            success: function() {
                                $("#myModal1").modal("hide");
                                window.location.reload();
                            }
                        })
                    })
        })
</script>
}
