@model IEnumerable<iTrainee.Models.Topics>

@{
	ViewData["Title"] = "ManageTopics";
}



<h1 class="mt-5">Manage Topics</h1>

<p>
	<a href="#" class="btn btn-primary float-right mb-3" onclick="AddEditTopic(0)"><i class="glyphicon glyphicon-pencil"></i> Add New Topic</a>
</p>
<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.StreamId)
			</th>
			<th>

				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>

				@Html.DisplayNameFor(model => model.ReferenceURL)
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.StreamId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ReferenceURL)
				</td>

				<td>
					<a href="#" class="btn btn-primary" onclick="AddEditTopic(@item.Id)"><i class="glyphicon glyphicon-pencil"></i> Edit</a> |
					<a class="btn btn-outline-primary" href="/Shared/Topics/DeleteTopic/@item.Id">Delete</a>
					@*  @using (Html.BeginForm("DeleteStream", "Stream", new { id = item.Id, Area="Shared" }))
						{
						<button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete record with ID = @item.Id');"><i class="fa fa-trash"></i> Delete</button>
						}*@
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="modal fade" id="topicModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Save Topic</h3>
			</div>
			<div class="modal-body" id="topicAddEditBody">
			</div>
		</div>
	</div>
</div>



<script type="text/javascript">

	var AddEditTopic = function (id) {
		var editTopicData = "/Shared/Topics/AddEditTopic?Id=" + id;
		$("#topicAddEditBody").load(editTopicData, function () {
			$("#topicModal").modal("show");
		});
	};


</script>
